@font-face {
  font-family: "Hiwua";
  src: url("hiwua.ttf") format("truetype");
}

body {
  font-family: "Hiwua", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

p {
  margin: 0;
}

header,
footer {
  background-color: #4ca370;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0;
  border-radius: 10px;
  background-color: #fff;
}

.hintContainer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30px;
  color: #4ca370;
}

.blurredField {
  background-color: black;
  color: white;
  margin: auto;
  width: 200px;
  padding: 15px;
  line-height: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
}

input {
  padding: 10px;
  margin-right: 10px;
}

#successMessage {
  color: green;
  font-weight: bold;
}

.hintText {
  margin-top: "32px";
}

.numberText {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.safe-input {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  font-size: 20px;
  text-align: center;
  margin: 0 5px; /* Add spacing between each input */
}

.hiddenCode {
  color: white;
}

/* CSS */
.button-3 {
  margin-top: 20px;
  appearance: none;
  background-color: #4ca370;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

.additional-hint {
  color: #4ca370;
  font-weight: bold;
}

.additional-hint a {
  text-decoration: underline;
  color: #4ca370;
  font-weight: bold;
}

.hiddenCode {
  font-size: 10px;
}
